.borderQuiz {
    border: 5px solid var(--mahogany);
    border-radius: 36px;
    /* background-color: red; */
    width: 900px;
    min-height: 500px;
    margin-left: -600px;
    padding: 31px 15px;

    /* justify-content: flex-start; */
    /* text-align: start; */
}