.border-6px-gold {
    border-width: 5px;
    border-style: solid;
    border-color: var(--gold);
}

.cerapro-bold-cod-gray-24px {
    color: var(--cod-gray);
    font-family: var(--font-family-cerapro-bold);
    font-size: var(--font-size-m);
    font-weight: 700;
    font-style: normal;
}

.border-1px-dove-gray {
    border-width: 1px;
    border-style: solid;
    border-color: var(--dove-gray);
}

.border-5px-mahogany {
    border-width: 5px;
    border-style: solid;
    border-color: var(--mahogany);
}

.cerapro-bold-mahogany-45px {
    color: var(--mahogany);
    font-family: var(--font-family-cerapro-bold);
    font-size: var(--font-size-l);
    /* font-weight: 700; */
    /* font-style: normal; */
}

.cerapro-bold-gold-31px {
    color: var(--gold);
    font-family: var(--font-family-cerapro-bold);
    font-size: var(--font-size-l);
    font-weight: 700;
    font-style: normal;
}

.cerapro-bold-white-24px {
    color: var(--white);
    font-family: var(--font-family-cerapro-bold);
    font-size: var(--font-size-m);
    /* font-weight: 700; */
    font-style: normal;
}

.title {
    margin-top: 50px;
    /* left: 65px; */
    letter-spacing: 0;
    line-height: 45px;
    /* position: absolute; */
    /* top: 111px; */
    white-space: nowrap;
    margin-bottom: 5px;
}

.x01 {
    width: 360px;
    height: 374px;
    margin-top: 50px;
    /* border-radius: 25; */
}

.cerapro-bold-mahogany-31px {
    color: var(--mahogany);
    font-family: var(--font-family-cerapro-bold);
    font-size: 18px;
    font-weight: 700;
    font-style: normal;
}

.export {
    background-color: var(--gold);
    border-radius: 38px;
    /* margin-left: -20px; */
    /* width: 50px;
      height: 50px; */
}

.upload-your-logo {
    align-self: center;
    letter-spacing: 0;
    line-height: 31px;
    /* margin-left: 22px; */
    margin-top: 5px;
    /* min-height: 41px; */
    /* min-width: 254px; */
    white-space: nowrap;
}

.upload-your-logo:hover {
    color: var(--white);
}

.selectColor {
    /* text-align: start; */
    color: #1c1312;
    font-family: var(--font-family-cerapro-bold);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 31px;
    min-height: 41px;
    white-space: nowrap;
}

.display-swatches {
    /* margin-right: -10px */
    text-align: center;
    /* justify-content: ; */
}

.png-or-jpg-only {
    color:
        #1c1312;
    font-family: var(--font-family-cerapro-bold);

    font-size: 14px;
    font-weight: 500;
    letter-spacing: 0;
    line-height: 60px;
    min-height: 27px;
    opacity: 0.68;
    white-space: nowrap;
}

.business-name {
    letter-spacing: 0;
    /* line-height: 31px; */
    /* position: absolute; */
    /* top: 282px; */
    margin-top: 30px;
    white-space: nowrap;
    color:
        #1c1312;
    font-family: "cerapro-medium";
    font-size: 25px;
}

.business-username {
    letter-spacing: 0;
    margin-top: 60px;
    white-space: nowrap;
    color:
        #1c1312;
    font-family: "cerapro-medium";
    font-size: 25px;
}

.check:checked {
    color: gold;
}