.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    flex: 1 1 auto;

}

.form--wrapper {
   margin-top: 13%;
   margin-left: 25%;
   height: 50vh;
}
.header4{
    font-family: "cerapro-bold";
    color: #560a02;
 font-weight: 700;
}