@font-face {
  font-family: "CeraPro-Black";
  font-style: normal;
  font-weight: 900;
  src: url("./fonts/CeraProBlack.otf") format("opentype");
}

@font-face {
  font-family: "CeraPro-Medium";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/CeraProMedium.otf") format("opentype");
}

@font-face {
  font-family: "CeraPro-Bold";
  font-style: normal;
  font-weight: 700;
  src: url("./fonts/CeraProBold.otf") format("opentype");
}

.App {
  /* font-family: "cerapro-bold"; */
  width: 100vw;
  height: 100vh;
}

body {
  margin: 0;
  padding: 0;
  /* font-family: "cerapro-Medium", */

}

:root {
  --cod-gray:
    rgba(9, 9, 9, 1);
  --mahogany-3:
    rgba(86, 10, 2, 1);
  --mahogany-2:
    rgba(87, 11, 3, 0.051);
  --mahogany:
    rgba(87, 11, 3, 1);
  --dove-gray:
    rgba(112, 112, 112, 1);
  --gold-2:
    rgba(255, 214, 0, 0.329);
  --gold:
    rgba(255, 214, 0, 1);
  --white:
    rgba(255, 255, 255, 1);

  --font-size-m: 24px;
  --font-size-l: 25px;
  --font-size-xl: 35px;

  --cod-gray:
    rgba(9, 9, 9, 1);
  --licorice:
    rgba(28, 19, 18, 1);
  --heavy-metal:
    rgba(44, 43, 43, 1);
  --mahogany-32:
    rgba(86, 10, 2, 1);
  --mahogany-22:
    rgba(87, 11, 3, 0.051);
  --mahogany:
    rgba(87, 11, 3, 1);
  --chicago:
    rgba(88, 88, 88, 1);
  --dove-gray-3:
    rgba(112, 112, 112, 0.812);
  --dove-gray-2:
    rgba(112, 112, 112, 0.878);
  --dove-gray:
    rgba(112, 112, 112, 1);
  --gold-2:
    rgba(255, 214, 0, 0.329);
  --gold:
    rgba(255, 214, 0, 1);
  --drover:
    rgba(255, 242, 171, 1);
  --white-2:
    rgba(255, 255, 255, 0.451);
  --white:
    rgba(255, 255, 255, 1);

  --font-size-m: 20px;
  --font-size-xxl: 35px;
  --font-size-xxxxl: 60px;
  --font-size-m2: 24px;
  --font-size-l2: 31px;
  --font-size-xl2: 45px;

  --font-family-cerapro-bold: "CeraPro-Bold";
  --font-family-cerapro-medium: "CeraPro-Medium";
}

.menu {
  border-radius: 35px;
  box-shadow: 0px 3px 6px #00000029;
  border: 5px solid gold;
  width: 257px;
  min-height: 500px;
  position: relative;
  padding: 31px 25px;
  align-items: flex-start;
  margin-left: 20px;
}

.sidemenu li {
  list-style-type: none;

}

.link {
  border-radius: 18px;
  /* border-spacing: 10px; */
  color: #570b03;
  text-decoration: none;
  align-items: center;
  display: flex;
  justify-content: center;
  min-width: 117px;
  padding: 4px 20px;
  font-family: "cerapro-bold";
  font-weight: 700;
  letter-spacing: 0;
  /* line-height: 31px; */
  min-height: 41px;
  /* width: 200px; */
  white-space: nowrap;
  background: rgba(255, 215, 0, 0.33);
  margin-bottom: 15px;
  margin-left: -65px;
  cursor: pointer;
}

.link-active {
  border-radius: 18px;
  /* border-spacing: 10px; */
  color: #570b03;
  text-decoration: none;
  align-items: center;
  display: flex;
  justify-content: center;
  min-width: 117px;
  padding: 4px 20px;
  font-family: "cerapro-bold";
  font-weight: 700;
  letter-spacing: 0;
  /* line-height: 31px; */
  min-height: 41px;
  /* width: 200px; */
  white-space: nowrap;
  background: gold;
  margin-bottom: 15px;
  margin-left: -65px;
  cursor: pointer;
}

.link:hover {
  background-color: rgb(235, 235, 235);
}

.border {
  align-items: flex-start;
  border: 5px solid #570b03;
  border-radius: 35px;
  box-shadow: 0px 3px 6px #00000029;
  display: flex;
  /* padding: 31px 25px; */
  justify-content: flex-start;
  margin-left: -600px;
  width: 880px;
  min-height: 420px;
  padding: 41px 41px;
  height: auto;
}

.content {
  /* min-height: 500px; */
  height: 480px;
  /* height: auto;
  min-height: 500px; */

  width: 1000px;
}




.icon:before {
  content: "\f00d";
}

.display-swatches {
  display: flex;
  grid-template-columns: repeat(6, 1fr);
  grid-gap: 10px;
  /* justify-content: center; */
}

/* .center-content {
    display: flex;
    justify-content: center;
    align-items: center;
  } */



.rectangle-44 {
  background-color: var(--white-2);
  border-radius: 35px;
  height: 223px;
  /* left: 0; */
  position: absolute;
  /* top: 0; */
  width: 237px;
}

.border-4px-gold {
  border-width: 5px;
  border-style: solid;
  border-color: var(--gold);
}

.button {
  /* background-color: #099; */
  /* color: white; */
  text-decoration: none;
  border-radius: 60px;
  height: auto;
  /* display: inline-flex; */
  align-items: center;
  overflow: hidden;
  width: auto;
  max-width: 100px;
  /** I'm animating max-width because width needs to be auto, and auto can't be animated **/
  -webkit-transition: max-width 0.5s;
  transition: max-width 0.5s;
}

.text {
  color: var(--cod-gray);
  opacity: 0;
  -webkit-transition: opacity 0.2s, -webkit-transform 0.35s;
  transition: opacity 0.2s, transform 0.35s;
}


.grid {
  height: 100px;
  padding-right: 15px;
  padding-left: 15px;
  width: 130px;
  /* text-align: ce; */
}

.grid:hover {
  height: 300px;
  color: red;

}

#paper {
  height: 100px;
  padding-right: 15px;
  /* padding-left: 15px; */
  /* width: 130px; */
  text-align: start;
  background: -webkit-linear-gradient(var(--cod-gray), #eee);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  cursor: pointer;
}


#paper:hover {
  color: var(--cod-gray);
  background: white;

  height: 280px;
  position: fixed;
  -webkit-text-fill-color: var(--cod-gray);

}

div.grid:hover p {

  /* height: auto; */
  opacity: 1;
  color: var(--cod-gray);
  /* -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); */

}

.button:hover {
  transform: rotate(180deg)
}

.edit:hover {
  transform: rotate(250deg)
}

@keyframes fadeInLeft {
  from {
    /* opacity: 0; */
    transform: translateX(-300px);
  }

}

.iconaddskill {
  /* color: #fff; */
  animation: fadeInLeft 1s ease-in-out;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 5px;
  background: #707070;
  /* color: ; */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #e7e7e7;
  border-radius: 5px;
  /* opacity: 0.7px; */
  /* width: 3px; */
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b30000;
}